a {
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style: none
}

ul.flip {
    position: relative;
    float: left;
    margin: 5px;
    width: 40px;
    height: 90px;
    font-size: 80px;
}

ul.flip li {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

ul.flip li:first-child {
    z-index: 2;
}

ul.flip li a {
    display: block;
    height: 100%;
    perspective: 200px;
}

ul.flip li a div {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

ul.flip li a div.up {
    transform-origin: 50% 100%;
    top: 0;
}

ul.flip li a div.down {
    transform-origin: 50% 0%;
    bottom: 0;
}

ul.flip li a div div.num {
    z-index: 1;
    width: 100%;
    height: 200%;
    color: #ccc;
    text-align: center;
    background-color: #333;
    border-radius: 6px;
}

ul.flip li a div.up div.num {
    top: 0;
}

ul.flip li a div.down div.num {
    bottom: 0;
}

div.play ul li.before {
    z-index: 3;
}

div.play ul li.active {
    animation: active .5s .5s linear both;
    z-index: 2;
}

div.play ul li.active .down {
    z-index: 2;
    animation: turnDown .5s .5s linear both;
}

div.play ul li.before .up {
    z-index: 2;
    animation: turnUp .5s linear both;
}

@keyframes active {
    0% {
        z-index: 2;
    }
    5% {
        z-index: 4;
    }
    100% {
        z-index: 4;
    }
}

@keyframes turnDown {
    0% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

@keyframes turnUp {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(-90deg);
    }
}